ul {
    margin-left: 0;
    text-align: left;
}

li {
    text-align: left;
}

.docs {
    text-align: left;
    /* background-color: red; */
    justify-content: end;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 20px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

h2 {
    text-align: center;
}

.docs-p {
    text-align: left;
}

.points {
    border-radius: 20px;
    border: 1px solid;
    margin-top: 5px;
}